<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net48" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net48" />
</packages>